.max-width {
    width: 100%;
}
footer {
    width: 100%;
    padding: 50px 0;
    min-height: 200px;
    font-size: 1.4rem;
}
.color-white {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8)
}